<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id = "myCal" class = "com.spring.aop.advice.example.SpringAdvice.domain.myCalculator" /> <!-- Target -->
	<bean id = "logPrintAdvice" class = "com.spring.aop.advice.example.SpringAdvice.advice.LogPrintAroundAdvice"/> <!-- Advice -->
	
	<bean id = "logProxy" class = "org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="myCal"></property>
		<property name="proxyInterfaces">
			<list>
				<value>com.spring.aop.advice.example.SpringAdvice.domain.Calculator</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>logPrintAdvice</value>
			</list>
		</property>
	</bean>
	
	
</beans> 