<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

<bean id = "employee" class = "com.spring.chapter2.constructorinjection.chapter2_ConstructorInjection.domain.Employee">
	<constructor-arg index = "0" value = "10" type = "int"/>
	<constructor-arg index = "1" value = "KDH" type = "String" />
</bean>

<bean id = "address" class = "com.spring.chapter2.constructorinjection.chapter2_ConstructorInjection.domain.Address">
	<constructor-arg index = "0" value = "ghaziabad" type = "String"></constructor-arg>
	<constructor-arg index = "1" value = "UP" type = "String"></constructor-arg>
	<constructor-arg index = "2" value = "India" type = "String"></constructor-arg>
</bean>

<bean id = "addressEmployee" class = "com.spring.chapter2.constructorinjection.chapter2_ConstructorInjection.domain.Employee">
	<constructor-arg index = "0" type = "int" value = "20"></constructor-arg>
	<constructor-arg index = "1" type = "String" value = "KDH"></constructor-arg>
	<constructor-arg ref = "address"></constructor-arg>
	<property name="pass" value = "myPassword"></property>
</bean>

<bean id = "listEmployee" class = "com.spring.chapter2.constructorinjection.chapter2_ConstructorInjection.domain.Employee">
	<constructor-arg index = "0" type = "int" value = "30"></constructor-arg>
	<constructor-arg index = "1" type = "String" value = "What is the java?"></constructor-arg>
	<constructor-arg>
		<list>
			<value>Java is a programming language</value>
			<value>Java is a platform</value>
			<value>Java is a good language</value>
		</list>
	</constructor-arg>
</bean>

<bean id = "answer1" class = "com.spring.chapter2.constructorinjection.chapter2_ConstructorInjection.domain.Answer">
	<constructor-arg index = "0" value = "1" type = "int"/>
	<constructor-arg index = "1" value = "Java is a programming" type = "String"/>
	<constructor-arg index = "2" value = "KDH" type = "String"/>
</bean>

<bean id = "answer2" class = "com.spring.chapter2.constructorinjection.chapter2_ConstructorInjection.domain.Answer">
	<constructor-arg index = "0" value = "2" type = "int"/>
	<constructor-arg index = "1" value = "Spring is a framework" type = "String"/>
	<constructor-arg index = "2" value = "KDH2" type = "String"/>
</bean>

<bean id = "question" class = "com.spring.chapter2.constructorinjection.chapter2_ConstructorInjection.domain.Question">
	<constructor-arg index = "0" value = "3" type = "int"></constructor-arg>
	<constructor-arg index = "1" value = "This is a question" type = "String"></constructor-arg>
	<constructor-arg index = "2">
		<list>
			<ref bean = "answer1"/>
			<ref bean = "answer2"/>
		</list>
	</constructor-arg>
</bean>
</beans>